.navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: blue;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  main {
    width: 100%;
  }
  
  .navbar-container img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-text {
    color: white;
  }


  .help-button {
    border: none;
    background: none;

  }
  
  .help-button img {
    width: 40px; 
    height: 40px;
  }
  



  
  